.App {
  text-align: center;
  background-color: #282c34;
  padding: 5%;
  min-height: 100vh;
}

.List {
  border: solid brown;
  color: white;
  padding: 1%;
  width: 30%;
  margin: 0% auto;
}

.ListItem {
  display: flex;
  margin: 3% 0%;
  text-align: start;
}

.TaskName {
  margin-right: auto;
}

.NewChore {
  margin-top: 1%;
}

.newChoreInput {
  margin-right: 1%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
