.App {
  text-align: center;
  background-color: #282c34;
  padding: 5%;
  min-height: 100vh;
}

.App-header {
  color: white;
}

.List {
  border: solid brown;
  color: white;
  padding: 1%;
  width: 30%;
  margin: 0% auto;
}

.ListItem {
  display: flex;
  margin: 3% 0%;
  text-align: start;
}

.TaskName {
  margin-right: auto;
}

.NewChore {
  margin-top: 1%;
}

.newChoreInput {
  margin-right: 1%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 950px) {
  .List {
    border: solid brown;
    color: white;
    padding: 1%;
    width: 90%;
    margin: 0% auto;
  }
}